<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<![if lt IE 9]>
	<script type="text/javascript" src="/static/js/jquery-1.9.1.js"> </script>
<![endif]>
<![if gte IE 9]>
	<script type="text/javascript" src="/static/js/jquery-2.0.0b2.js"> </script>
<![endif]>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


<link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css"  media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/swipebox.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/groundwork.css">
<!--[if IE]><link type="text/css" rel="stylesheet" href="/css/groundwork-ie.css"><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="/js/libs/html5shiv.min.js"></script><![endif]-->
<!--[if IE 7]><link type="text/css" rel="stylesheet" href="/css/font-awesome-ie7.min.css"><![endif]-->


<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/js/jquery.dajax.core.js"></script>
<script type="text/javascript" src="/static/js/jquery.jstree.js"></script>
<script type="text/javascript" src="/static/js/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.cycle2.js"></script>
<script type="text/javascript" src="/static/js/groundwork.all.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

