{% extends "skeleton.html" %}

{% block content %}
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].strip();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue =
decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }

function requestPage(event) {
    var element = event;//event.element();
    var url = '/'+element.identify()+'/';
    new Ajax.Updater('content', url, {
        method: 'post',
        requestHeaders: {'X-CSRFToken':getCookie('csrftoken') },
    });
}

$(document).ready(function(){

	$("#treeViewDiv").jstree({
		"json_data" : {
			"data":{{treeFolders|safe}}
		},
		"plugins" : [ "themes", "json_data", "ui" ]
		}).bind("select_node.jstree", function(e, data){
			Dajaxice.gallery.define_images(Dajax.process, {'pathFolder':jQuery.data(data.rslt.obj[0], "href")});

			loadPrettyPhoto();
			event.preventDefault();
		});	        

    $( "#resizable" ).resizable();
});


</script>

<div id="resizable" class="ui-widget-content">
  <h3 class="ui-widget-header">Fichiers</h3>
 	<div id="treeViewDiv"></div>
</div>
	
<div id="images" class="portfolio"></div>

{% endblock %}

