{% load dajaxice_templatetags %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <title>My App</title>
    {% dajaxice_js_import %}

    {% block head %}
    {% include "head.html" %}
    {% endblock %}
        
  </head>
  
  <body >
    <div id="container" >
      <div id="content">
      
        {% block content %}

        {% endblock %}
      </div>
      
    </div>
    {% block modal_dialogs %}
    {% include "modal_dialogs.html" %}
    {% endblock %}

<script type="text/javascript" src="/static/js/groundwork.all.js"></script>

  </body>
</html>
