<!DOCTYPE HTML>
<html>
  <head>
    <title>My App</title>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <div id="container" >
      <div id="header">
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
      </div>
      <div id="content">
        {% block content %}
        <h3>Voici mon application : </h3>
        {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
