<div style="text-align:center;">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="#" onclick="Dajaxice.gallery.define_images_by_page(Dajax.process,{'page':{{ items.previous_page_number }}})">previous</a>
        {% endif %}
        {%for page in paginator.page_range%}
        	<span class="current">
        		{%if page != items.number%}
		            <a href="#" onclick="Dajaxice.gallery.define_images_by_page(Dajax.process,{'page':{{ page }}})">{{page}}</a>
		        {%else%}
		        	{{page}}
	            {%endif%}
            </span>
        {%endfor%}
        {% if items.has_next %}
            <a href="#" onclick="Dajaxice.gallery.define_images_by_page(Dajax.process,{'page':{{ items.next_page_number }}})">next</a>
        {% endif %}
    </span>
</div>

<br/>

{%for key, value in images.items%}
	<a href="{{value}}" rel='prettyPhoto[portfolio]' class="{{forloop.counter}}"> <img src="{{key}}"/></a>
{%endfor%}
