{% load thumbnail %}
<nav class="pagination">
	<ul>
        {% if items.has_previous %}
            <li class="prev"><a href="#" onclick="getImageByPage({{ items.previous_page_number }})">previous</a></li>
        {%else%}
            <li class="prev disabled"><a href="#">previous</a></li>	
        {% endif %}
        {%for page in items.paginator.page_range%}
			<li class="{%if page == items.number%}active{%endif%} {%if page == 1%}first{%endif%} {%if page == items.paginator.num_pages%}last{%endif%}">
            	<a href="#" onclick="getImageByPage({{ page }})">{{page}}</a>
			</li>
        {%endfor%}
        {% if items.has_next %}
            <li class="next"><a href="#" onclick="getImageByPage({{ items.next_page_number }})">next</a></li>
        {%else%}
        	<li class="next disabled"><a href="#">next</a></li>
        {% endif %}
    </ul>

</div><br/>


{%for path in items.object_list%}
	{% thumbnail path thumb_size crop="center" as thumb_image %}
		<a href="{{root_media_path}}{{path}}" class="swipebox"><img src="{{ thumb_image.url }}" width="{{ thumb_image.width }}" height="{{ thumb_image.height }}"></a>
	{% endthumbnail %}
{%endfor%}
<div id="galleryImage">
{%comment%}
	{%for key, value in images.items%}
		{% thumbnail key thumb_size crop="center" as im %}
			<a href="{{value}}" class="swipebox"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
		{% endthumbnail %}
	{%endfor%}
{%endcomment%}
</div>

<script>
</script>
