/* Filterable Portfolio Stylesheet */


/* Simple Reset
------------------------------------------------------------ */
html, body, div, h1, h2, ul, li, dl, dd, dt, p { margin: 0; padding: 0; }
ul { list-style: none; }


/* Import Fonts
------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Quattrocento);


/* Custom Classes
------------------------------------------------------------ */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */


/* General Styles
------------------------------------------------------------ */
body { font-size: 87.5%; line-height: 1.5em; font-family: Georgia,"Times New Roman", Times, serif; color: #222; background: url(../images/bg.png) repeat; }

#wrap { max-width: 940px; min-height: 900px; margin: 0 auto; padding: 1.5em 20px; overflow: hidden; background-color: #fff; border: 1px solid #ddd; -moz-box-shadow: 0 0 5px #ddd; -webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd; }

h1, h2 { font-weight: normal; }
h1 { font-family: 'Quattrocento', serif; font-size: 3em; line-height: 1em; text-transform: uppercase; text-align: center; border-top: 1px solid #000; padding-top: 1em; margin-bottom: 0.33333em; }
h2 { font-size: 1.5em; line-height: 1em; padding-bottom: 0.5em; border-bottom: 1px solid #aaa; margin-bottom: 0.5em; color: #444; }

a { color: #444; text-decoration: underline; -moz-transition: 0.4s all linear; -webkit-transition: 0.4s all linear; -o-transition: 0.4s all linear; transition: 0.4s all linear; outline-color: #aaa; }
a:hover { color: #4f0d4d; }

.demo-top { margin-bottom: 0.35714em; padding-bottom: 0.5em; border-bottom: 3px solid #000; }
.credits { font-family: 'Quattrocento', serif; font-size: 1.28571em; line-height: 1.16667em; text-align: center; color: #444; margin-bottom: 2.66667em; }
.back-to-post { border-top: 1px solid #000; margin-bottom: 3em; }


/* Filter */
dl { margin-bottom: 3em; color: #777; }
dt, dd { float: left; }
dt { margin-right: 5px; }
.filter li { float: left; }
.filter li:after { content: "/"; }
.filter li:last-child:after { content: ""; }
.filter a { padding: 0 10px; color: #777; text-decoration: none; }
.filter a:hover, .current a { color: #4f0d4d; }

/* Portfolio Items */
.portfolio li { float: left; margin-right: 20px; margin-bottom: 2em; border: 1px solid #ccc; -moz-box-shadow: 0 5px 5px -3px #222; -webkit-box-shadow: 0 5px 5px -3px #222; box-shadow: 0 5px 5px -3px #222; }
.portfolio li:nth-child(4n) { margin-right: 0; }
.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }
.portfolio img { width: 210px; height: 130px; display: block; border: 1px solid #ccc; }