body{
	padding-bottom: 40px;
	padding-top: 60px;
}

#modalLoading {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                50% 50% 
                no-repeat;
}

.ajaxloader{position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    border: 0;
    margin-left:-100px; /* 971/2 */
    margin-top:-100px; /* 669/2 */
}

.list{
	padding:10px;
}

.jstree a { white-space:normal !important; height: auto; }

.sidebar-nax{
	padding:9px 0;
}

.sidebar-nav-fixed{
	position: absolute;
	top:60px;
	width:22%;
}

@media(max-width: 767px){
	.sidebar-nav-fixed{
		width:auto;
		position: static;
	}
}

@media(max-width: 979 px){
	.sidebar-nav-fixed{
		top:70px;
	}
}

@media(max-width : 767px){
	body{
		padding-top:0;
	}
}

@media(max-width : 979px){
	body{
		padding-top: 0;
	}
}
